.body {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #79a7d4;
  position: relative;
  margin: 0;
  flex-direction: column;
}

.imgback {
  display: flex;
  position: absolute;
  right: 20px;
  pointer-events: none;

}

.container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 600px;
  min-width: 600px;
  background-color: aliceblue;
  margin: 0 auto;
  flex-direction: column;
}

.menumap {
  background: linear-gradient(#fca606, #f8ba46);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 620px;
  left: -10px;
}

.menumap a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__container {
  display: grid;
  background-color: rgb(251, 254, 253);
  grid-template-columns: 50px 1 fr 50px;
  align-items: center;
  position: relative;
}

.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}

.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}

.slider__img {
  width: 600px;
  display: flex;
  top: 500px;
  margin: 0px;
}

.slider__arrow__right {
  position: absolute;
  right: 2px;
  cursor: pointer;
  width: 5%;
}

.slider__arrow__left {
  position: absolute;
  cursor: pointer;
  width: 5%;
}

.contenedores {
  display: flex;
  position: relative;
  width: 600px;
  justify-content: space-between;
}

.poolhouse {
  display: flex;
  position: absolute;
  width: 280px;
  margin: 10px;
  pointer-events: none;
}

.muelle {
  display: flex;
  position: absolute;
  width: 280px;
  margin: 10px;
  right: 0;
  pointer-events: none;
}

.imgcont1 {
  display: flex;
  position: relative;
  width: 280px;
  flex-direction: column;
}

.WH {
  display: flex;
  position: relative;
  z-index: 1;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  top: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.hbologo {
  display: flex;
  position: relative;
  top: 10px;
  align-self: center;
  justify-self: center;
}

.hbolink {
  border-radius: 10px;
}

.imgcont2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
}


.descriptiontitle {
  display: flex;
  z-index: 1;
  top: 20px;
  align-items: center;
  position: relative;
  color: aliceblue;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.description {
  display: flex;
  position: relative;
  z-index: 1;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 250px;
  top: 10px;
  margin-left: 10px;
}

.podcast {
  position: relative;
  width: 600px;
}

.welcometotheocb {
  width: 580px;
  background-color: #fca606;
  height: fit-content;
  position: relative;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 0px;
  justify-content: center;
}

.imgwelcome {
  display: flex;
  width: 560px;
  position: relative;
  margin-bottom: 0px;
  pointer-events: none;
}

.video {
  display: flex;
  position: relative;
  margin-top: 0 ;
  margin-left: 10px;
  margin-bottom: 10px;
}

.caracter {
  width: 580px;
  background-color: #417ce9;
  height: fit-content;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.sandykirs {
  display: flex;
  position: relative;
  width: 150px;
  border-radius: 80px;
  margin-left: 30px;
  top: 10px;
  margin-bottom: 20px;
  pointer-events: none;
}

.titlecaracter {
  display: flex;
  position: absolute;
  right: 15px;
  font-size: 25px;
}

.parrafocaracter {
  display: flex;
  position: absolute;
  width: 290px;
  right: 10px;
  top: 50px;
}

.circulos {
  display: flex;
  flex-direction: row;
}

.circulo { 
  width: 100px;
  height: 100px;
  background-color: #f8ba46;
  margin: 10px;
  border-radius: 100px;
}

.footer {
  display: flex;
  width: 100%;
  background: linear-gradient(#417ce9, #79a7d4);
  align-items: center;
  justify-content: center;
  height: 50px;
  color: aliceblue;
}

#submenu.hidden {
  display: none;
  opacity: 0; 
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

#aboutus {
  cursor: pointer;
}

#submenu {
  background-color: #f8ba46;
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 10px;
  margin: 0;
  z-index: 30;
  justify-content: space-around;
}


#submenu a {
  text-decoration: none;
  color: #f9f8f8;
  z-index: 2;
  margin: 5px;
}

#submenu a:hover {
  text-decoration: none;
  z-index: 2;
}

.elementsub {
  margin-top: 5px;
}